@model BookingReturn
@using CarolineCottage.Domain

<h3 class="display-4">Booking the cottage</h3>
<h4>Prices and availability</h4>
<p>
    <em>Coronavirus 2020. We shut the house before lockdown, and are strictly following all Government rules. There is no official re-opening date yet, but it may be in July. Please do contact us directly if you are interested in any dates – we always welcome emails or phone-calls</em>
</p>
<ul class="list-unstyled">
    <li>Click on <span class="fa fa-info-circle" aria-hidden="true" title=""></span> below to contact us about that week. Short stay/small group discounts outside main weeks</li>
</ul>
<div id="calendarList">
    <div class="row">
        <div class="col-8"><strong>Week</strong></div>
        @*<div class="col"><strong>Booked</strong></div>*@
        <div class="col text-right"><strong>Price</strong></div>
    </div>
    @if (Model.BookingList.Count() == 0)
    {
        <p>Availability list error: @Model.ReturnError</p>
    }
    else
    {
        Html.RenderPartial("ViewBookingRows");
    }
</div>