@model BookingReturn
@using CarolineCottage.Domain

<h3 class="display-4">Booking the cottage</h3>
<h4>Prices and availability</h4>
<ul class="list-unstyled">
    <li>Click on <span class="fa fa-info-circle" aria-hidden="true" title=""></span> below to contact us about that week. Short stay/small group discounts outside main weeks</li>
</ul>
<div id="calendarList">
    <div class="row">
        <div class="col-6"><strong>Week</strong></div>
        @*<div class="col"><strong>Booked</strong></div>*@
        <div class="col text-right"><strong>Price</strong></div>
    </div>
    @if (Model.BookingList.Count() == 0)
    {
        <p>Availability list error: @Model.ReturnError</p>  
    }
    else
    {
        Html.RenderPartial("ViewBookingRows");
    }    
</div>