@model BookingReturn
@using CarolineCottage.Domain

<h3 class="display-4">Booking the cottage</h3>
<h4>How to book</h4>
<ul class="list-unstyled">
    @*<li>Click on <span class="fa fa-info-circle" aria-hidden="true" title=""></span> below to contact us about that week</li>*@
    <li>Out of season short lets are available by arrangement</li>
    <li>Christmas and New Year dates are flexible. See <a href="http://www.mouseholelights.org.uk/" target="_blank"> www.mouseholelights.org.uk/</a> for more information about the Mousehole Lights.</li>
</ul>
<div>
    <div class="row">
        <div class="col-3"><strong>Week</strong></div>
        <div class="col-2"><strong>Booked</strong></div>
        <div class="col-2"><strong>Price</strong></div>
    </div>
    @if (Model.BookingList.Count() == 0)
    {
        <p>Availability list error: @Model.ReturnError</p>  
    }
    else
    {
        Html.RenderPartial("ViewBookingRows");
    }    
</div>