@model ContactUs
@using CarolineCottageMobile.Models

<div class="row">
    <div class="col">
        @if (Model.SendSuccess)
        {
            <p><em>@Model.MessageType.ToString() sent</em></p>
        }
        else 
        {
            <p>Error sending: @Model.MessageType.ToString()</p>
        }

    </div>
</div>
