<h2>Cottage overview</h2>
<h3>General</h3>
<p>
    Caroline Cottage is an upside down house ...
</p>
<h3>Bedrooms</h3>
<p>
    The cottage has, on the ground floor:
    <ul>
        <li>A double bedroom with basin</li>
        <li>A twin bedded room with basin</li>
        <li>A bunk room, short size, suitable for heights up to 5ft 3in</li>
        <li>4 season duvets and pillows. Optional bed-lined service available - see booking form</li>
    </ul>
</p>
<h3>Lounge</h3>
<p>
    <ul>
        <li>Sea-views</li>
        <li>French windows to balcony, 4 chairs</li>
        <li>TV with build-in DVD player</li>
        <li>Many books, games and DVDs for all ages; some wooden toys</li>
        <li>Sofa, 2 armchairs</li>
        <li>Wicker chairs, side tables, 2 lamps, <small>(New furniture in 2019. Some photos show the previous sofa and chairs)</small></li>
    </ul>
</p>
<h3>Kitchen and dining room</h3>
<p>    
    <ul>
        <li>Table, seats 8</li>
        <li>Double oven</li>
        <li>Halogen hob</li>
        <li>Microwave</li>
        <li>Dishwasher</li>
        <li>Fridge with ice box</li>
        <li>Radio with CD player</li>
        <li>Kettle, toaster, wine rack</li>
        <li>Desk and bookcase with plenty of local info</li>
        <li>Generous amount of crockery, cutlery and cookware</li>
        <li>Lovely traditional cast-iron range - decorative only</li>
    </ul>
</p>
<h3>Bathroom, on the ground floor</h3>
<p>
    <ul>
        <li>Bath with over-bath electric shower plus tap-shower</li>
        <li>Washing machine</li>
    </ul>
</p>
<h3>Other equipment</h3>
<p>
    <ul>
        <li>Wi-Fi throughout</li>
        <li>Iron and board</li>
        <li>Electric radiators and supplmentary heaters</li>
        <li>The hall and back porch has plenty of space for coats, boots, beach equipment</li>
    </ul>
</p>
<h3>Dungeon annexe</h3>
<p>
    <ul>
        <li>Double futon</li>
        <li>Fitted kitchen with cooker, fridge, kettle and toaster</li>
        <li>Two easy chairs</li>
        <li>Folding dinging table and chairs</li>
        <li>Radio with CD player (no television)</li>
        <li>Wi-Fi</li>
        <li>Shower/loo</li>
        <li>Electric radiator and supplemetary heater</li>
    </ul>
</p>
<p>
    Please note that the dungeon is at street level at the back of the house with its own front door which open onto historic Keigwin Place. Access to the house is via fairly steep external granite steps.
</p>