<h3>Cottage overview</h3>
@*<h4>General</h4>*@
<p>
    Caroline Cottage is a traditional double-fronted granite house with a modernised interior. Bedrooms and bathroom are on the ground floor.
    Lounge (with a sea-view balcony) and kitchen/diner are on the first floor.
    Our "Dungeon" annexe is at the back of the house and opens onto Keigwin Place, a quiet cul-de-sac with a path to the beach and harbour.
</p>
<h4>Bedrooms</h4>
<div>
    The cottage has, on the ground floor:
    <ul>
        <li>double bedroom with basin</li>
        <li>twin-bedded room with basin</li>
        <li>bunk room, 2 short-size bunks, suitable for heights up to 5ft 3in</li>
        <li>4 season duvets and pillows. Optional bed-linen service available - see booking form. No towel service except for visitors from abroad</li>
    </ul>
</div>
<h4>Lounge - first-floor</h4>
<div>
    <ul class="list-unstyled">
        <li>Sea-views</li>
        <li>French windows to sea-view balcony, 4 chairs</li>
        <li>TV with built-in DVD-player</li>
        <li>Many books, games and DVDs for all ages; some wooden toys</li>
        <li>Sofa, 2 armchairs</li>
        <li>Wicker chairs, side tables, 2 lamps. <small>(New furniture in 2019. Some photos show the previous sofa and chairs)</small></li>
    </ul>
</div>
<h4>Kitchen/dining-room - first-floor</h4>
<div>
    <ul>
        <li>table, seats 8</li>
        <li>double oven</li>
        <li>halogen hob</li>
        <li>microwave</li>
        <li>dishwasher</li>
        <li>fridge with ice box</li>
        <li>radio with CD player</li>
        <li>kettle, toaster, wine rack</li>
        <li>desk and bookcase with plenty of local info</li>
        <li>generous amount of crockery, cutlery and cookware</li>
        <li>lovely traditional cast-iron range - decorative only</li>
    </ul>
</div>
<h4>Bathroom - ground floor</h4>
<div>
    <ul>
        <li>bath with over-bath electric shower plus tap-shower</li>
        <li>washing machine</li>
        <li>toilet, basin</li>
        <li>heated towel-rail</li>
        <li>drying racks</li>
    </ul>
</div>
<h4>Other equipment</h4>
<div>
    <ul>
        <li>Wi-Fi throughout - variable in annexe</li>
        <li>iron and board</li>
        <li>electric radiators and supplmentary heaters</li>
        <li>the hall and back porch have plenty of space for coats, boots, etc.</li>
    </ul>
</div>
<h4>Dungeon annexe</h4>
<div>
    <ul>
        <li>double futon</li>
        <li>fitted kitchen with cooker, fridge, kettle and toaster</li>
        <li>two wicker chairs</li>
        <li>folding dining table and chairs</li>
        <li>radio with CD player (no television)</li>
        <li>Wi-Fi - variable reception</li>
        <li>shower/loo</li>
        <li>electric radiator and supplemetary heater</li>
    </ul>
</div>
<p>
    Please note that the Dungeon is at street level at the back of the house, with its own front door opening onto historic Keigwin Place. Access to the house is via fairly steep external granite steps - no hand-rail.
</p>
<h4>Accessibity</h4>
<div>
    We regret that the house is not suitable for visitors with limited mobility. Step at front door; 2 steps in hall; wooden staircase and bannister to first floor; 2 steps from lounge to kitchen/diner. 
    Steep external granite steps - no hand rail - leading from porch down to annexe, Keigwin Place, and path to beach and harbour.
</div>

