<h2>Cottage overview</h2>
<h3>General</h3>
<p>
    Caroline Cottage is ...
</p>
<h3>Facilities</h3>
<p>
    The cottage has:
    <ul>
        <li>Wi-Fi</li>
        <li>Television and DVD</li>
        <li>...</li>
    </ul>
</p>
<h3>Kitchen and dining area</h3>
<p>
    Fully fitted kitchen with:
    <ul>
        <li>Twin oven: fan and grill</li>
        <li>Halogen hob</li>
        <li>Microwave</li>
        <li>Dishwasher</li>
        <li>Kettle and toaster</li>
    </ul>
</p>
<p>
    The dining area has a table that seats 8
</p>
<h3>Bedrooms</h3>
<p>Summary detail</p>
<h3>Bathroom</h3>
<p>
    Bath and shower
</p>
<h3>Dungeon annexe</h3>
<p>Self contained, sleeps 2, shower, overn/hob ...</p>