<h3>Information we collect</h3>
<p>
    We collect information supplied by you when you enquire about booking a holiday at Caroline Cottage, and when you make that booking.
    The enquiry information we collect includes your name and your contact details – phone number, email address, postal address. For bookings, we must also collect the number and names in your party, and your passport/destination details if you are not a UK/Commonwealth resident.
    We may also collect bank account details for processing your payments and deposit refunds. We do not collect credit/debit card details.
</p>
<h3>How we use information</h3>
<p>
    We use your information only for answering your enquiries about Caroline Cottage and for making and managing your bookings with us.
    We may use your information for sending very occasional emails to you, but will only do so if we have your explicit consent.
</p>
<h3>Security and your data</h3>
<p>
    The only personal data we collect from our website is your email address and any personal information you tell us as part of your booking and/or enquiry as above. The website forms are protected by an SSL certificate. No personal data is stored on our website.
</p>
<p>
    We store the information we collect either in a paper filing system or on a personal computer protected by a password and a firewall.
</p>
<p>
    We retain any sensitive information such as bank and passport details only for one year. Information needed for accounting purposes will be kept for six years.
    If you have explicitly consented to receiving marketing information we will keep your data until you ask us to delete it otherwise we delete general enquiry data within six months of your enquiry.
</p>
<p>
    We do not share your information with anyone else unless legally obliged to do so, or if it is needed for our own protection e.g. in a case of dispute
</p>
<h3>Marketing including Facebook</h3>
<p>
    We will only contact you for marketing purposes if you have explicitly agreed to this. If you access the Caroline Cottage Facebook page, then Facebook policies and your personal Facebook security settings apply.
    If you contact us via a direct/private Facebook message, then our privacy policy applies
</p>
<h3>Your rights</h3>
<p>
    If you want to see the information we hold about you, and correct it if you wish to, please contact us via email at carolinecottage@pugwash.com or by phone.
</p>
<h3>Finally</h3>
<p>
    We need to conform with the General Data Protection Regulations and other legislation. We will revise this policy as and when needed. Please do contact us with any questions
</p>
<p>
    Nina Nowakowska and Peter Smith, May 2018
</p>
