@model BookingReturn
@using CarolineCottage.Domain
@using CarolineCottage.Repository.CarolineCottageClasses
@using CarolineCottageMobile.Models

@{
    List<BookingStatus> enquiryStatus = new List<BookingStatus>() { BookingStatus.Available, BookingStatus.BookedFrom, BookingStatus.BookedTo, BookingStatus.Reserved };

    foreach (var booking in Model.BookingList)
    {
        String shortBreak = booking.AvailableForShortBreaks ? "Yes" : "No";
        String comment = String.IsNullOrEmpty(booking.Comment) ? "-" : booking.Comment;
        String baseID = booking.BookingID.ToString();
        String status = booking.BookingStatus.GetEnumDescriptionOrName();
        if (!string.IsNullOrEmpty(booking.Comment))
        {
            status += " " + booking.Comment;
        }
        <div class="row" id="@baseID">
            <div class="col-6">
                @if (enquiryStatus.Contains(booking.BookingStatus))
                {
                    <a href="#" class="viewLine">
                        <span class="fa fa-info-circle" aria-hidden="true" title="Click to enquire about this week"></span>
                    </a>
                }
                else
                {
                    <span class="fa fa-remove" aria-hidden="true" title="Not available"></span>
                }
                &nbsp;@booking.WeekStartDate.ToString("d MMM yy")
            </div>
            @*<div class="col">@status</div>*@
            <div class="col text-right WeekPrice">@String.Format("{0:£#,##0}", booking.WeekPrice)</div>
        </div>
    }
}




