@model CarouselDisplay
@using CarolineCottageMobile.Application.CarolineCottageDisplay

<a class="anchor" id="CottageSectionLink"></a>
<section>
    <h3 class="display-4">Our House</h3>
    <div class="row">
        <div class="col-sm">
            @{Html.RenderPartial("CarouselDisplay", Model);}
        </div>
        <div class="col-sm">
            <p class="lead">
                CAROLINE COTTAGE is a deceptively spacious granite cottage, backing onto Keigwin Place some 100 metres from the picturesque beach and harbour. <small><a class="viewCottageOverview" href="#">Cottage overview</a></small>
            </p>
            <p>
                The bedrooms and bathroom are at street level and the living areas upstairs. From
                the open-plan lounge (c. 18') and balcony there are wonderful views over the rooftops and St Clement’s Isle, and across Mount’s Bay to St Michael’s Mount.
                The spacious kitchen/dining room (c. 20') has a traditional Cornish range and a well-equipped
                wood-fitted kitchen. The table seats 8. Our studio annexe, “The Dungeon”, opens onto Keigwin
                Place (double futon plus shower/loo).
            </p>
            <p>
                We provide lots of books, games, dvds and puzzles for all ages. Wi-Fi is available throughout the cottage.
            </p>
            <p>
                2001 was our first letting year - we continue to run bookings ourselves, and welcome any questions - we want you to be happy!
                Our aim is that you find the cottage both attractive and a welcoming home-from-home.
                Our booking form includes more information about the cottage and village.
                We can offer flexible terms for short stays and small groups outside main weeks.
                Please contact us with details if you would like to bring a pet.
            </p>            
        </div>
    </div>
</section>
