<a class="anchor" id="DownloadsSectionLink"></a>
<section>
    <h3 class="display-4">Downloads</h3>
    <div class="row">
        <div class="col-sm">
            <ul class="list-unstyled">
                <li>
                    <a href="@Url.Content("~/Content/local/CC_map3.pdf")" target="_blank">
                        Download
                        our map
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Content/local/CC_booking_form.pdf")" target="_blank">
                        Download
                        our booking form
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Content/local/CC_Leaflet.pdf")" target="_blank">
                        Download
                        our brochure
                    </a>
                </li>
            </ul>
            <p>
                <span class="badge badge-info">Disclaimer</span> we cannot guarantee the availability of broadband and Wi-Fi as the external wiring is out of our control. Also, if previous visitors have caused any damage, we will not be able to rectify this immediately.
            </p>
        </div>

    </div>

</section>

