

<a class="anchor" id="GuestCommentsSectionLink"></a>
<section>
    <h3 class="display-4">Comments from guests</h3>
    <div class="row">
        
        <div class="col-sm">            
            <p>
                We had a fantastic time in Cornwall despite the cold weather. We thought Caroline
                Cottage was wonderful and it was such a treat to stay there. Very comfortable and
                equipped with everything we needed. It has a lovely feel to it and it was great
                having all the books and DVDs to hand. The views from the balcony were stunning
                and we watched The Scillonian make her first Spring voyage over to Scilly ...
            </p>
            <p>
                … the views from Caroline Cottage have inspired me to do some painting for the first
                time in 6 years… Mousehole is such an interesting little place, with so much history…
                I will treasure the memory of the view from the balcony for a long time…
            </p>
            <p>
                The cottage and the town felt like home, and the people here made us feel very welcome…
            </p>
            <p>
                What a wonderful treat it has been to be a guest in your beautiful cottage. To find
                it in such fantastic condition, so welcoming…The views, the seagulls and the harbour
                provide a perfect backdrop for wine on the balcony…
            </p>
            <p>
                We won’t waste space listing all the things we enjoyed because we enjoyed absolutely
                everything, especially Caroline Cottage and the Ship Inn.
            </p>
            <p>
                This is the most comfortable and well-equipped cottage I have ever seen and our
                stay has been a joy…
            </p>
            <p>
                Cottage as good as it looks on the website. Home from home
            </p>
            <p>
                … a restful oasis…
            </p>
            <p>
                We parked the car on arrival and didn’t move it until we went home…
            </p>
            <p>
                … another wonderful holiday in Mousehole – extra special due to Caroline Cottage…
                home comforts and fantastic views across the bay to St Michael’s Mount, Goonhilly
                and Lizard
            </p>
            <p>
                Thank you for all the thought you have put into this place
            </p>
            <p>
                Thank you for allowing me all the creature comforts I always miss on holiday whilst
                also providing gorgeous views of the sea and picturesque village!
            </p>
            <p>
                … how can you improve a perfect place…
            </p>
            <p>
                House wonderful as ever
            </p>
            <p>
                Lovely cottage… gorgeous village… The cottage is unexpectedly massive and really
                comfortable… I have designed my dream house on the layout of this place…
            </p>
            <p>
                We thought that it might be tough dragging 4 teenagers away from their friends and
                computer for a week, but they had a great time…. See, they can survive without MSN!
            </p>
            <p>
                My first visit to Mousehole. Beautiful! Lovely homely cottage, you seem to have
                thought of everything…
            </p>


        </div>
    </div>
</section>


