@model CarouselDisplay
@using CarolineCottageMobile.Application.CarolineCottageDisplay

<section>
    <div class="row">
        <div class="col-sm">
            <p class="lead">
                Lovely seaside holiday home in Mousehole, South-West Cornwall - described by Dylan Thomas as "really the lovliest village in England. Spacious and
                light, with balcony overlooking harbour and Mount's Bay. Sleeps up to 6, with annexe available to sleep 2 more (double futon + extra shower/loo)
            </p>
        </div>
        <div class="col-sm">
            @{Html.RenderPartial("CarouselDisplay", Model);}
        </div>
    </div>
</section>
