<a class="anchor" id="HowToBookSection"> </a>
<section>
    <h3 class="display-4">How to book</h3>
    <div class="row">
        <div class="col-sm">
            <p class="lead">
                Booking is managed personally ...
            </p>
            <p>
                Booking Caroline Cottage:
                <ul>
                    <li>You can phone us on <em>01865 727423</em> or <em>07900 677588</em></li>
                    <li>You can contact us <a class="contactUsLink" href="#">here</a></li>
                    <li>Send us an enquiry for a specific date from the <a class="PriceLink" href="#">price and availability</a> calendar</li>
                </ul>
            </p>
            <p>
                Then <a href="@Url.Content("~/Content/local/CC_booking_form.pdf")" target="_blank">download our booking form</a> and paying a 33% deposit. You can pay by online bank transfer or send us a cheque.
            </p>
            <p>
                <ul class="list-unstyled">
                    <li>Out of season short lets are available by arrangement</li>
                    <li>Christmas and New Year dates are flexible. See <a href="http://www.mouseholelights.org.uk/" target="_blank"> www.mouseholelights.org.uk/</a> for more information about the Mousehole Lights.</li>
                </ul>
            </p>


        </div>
    </div>
</section>
