<a class="anchor" id="HowToBookSection"> </a>
<section>
    <h3 class="display-4">How to book</h3>
    <div class="row">
        <div class="col-sm">
            <p class="lead">
                Since starting in 2001 we have always responded personally to enquiries - we don't use OTAs or agencies.
            </p>
            <p>
                To book Caroline Cottage, please:
                <ul>
                    <li>Phone us on <em>01865 727423</em> or <em>07900 677588</em> or <em>07768 625594</em></li>
                    <li>Contact us <a class="contactUsLink" href="#">here</a></li>
                    <li>Send us an enquiry for a specific date from the <a class="PriceLink" href="#">Prices and availability</a> calendar</li>
                </ul>
            </p>
            <p>
                Booking is confirmed on receipt of a completed <a href="@Url.Content("~/Content/local/CC_booking_form.pdf")" target="_blank">booking form</a> and payment of a 33% deposit. You can pay by direct bank transfers or cheques.
            </p>
            <p>
                <ul class="list-unstyled">
                    <li>Short-stay/small-group/late booking discounts available outside main weeks - please enquire</li>
                    <li>Christmas and New Year dates are flexible, please contact us. For the famous Mousehole Lights see <a href="http://www.mouseholelights.org.uk/" target="_blank">www.mouseholelights.com</a></li>
                </ul>
            </p>
        </div>
    </div>
</section>
