@{
    ViewBag.Title = "Caroline Cottage";
}


<div class="jumbotron jumbotron-fluid bg-transparent text-dark">
    <div class="container">
        <img class="img-fluid" src="~/Content/Images/header_2.jpg" />
    </div>
</div>