<a class="anchor" id="ManOnABeachSectionLink"></a>
<section>
    <h3 class="display-4">ManOnABeach Interview</h3>
    <div class="row">
        <div class="col-sm embed-responsive embed-responsive-16by9">
            <p><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VY0ll2adpPM" frameborder="0" allowfullscreen></iframe></p>
        </div>
        <div class="col-sm">
            <p class="lead">
                Visit <a href="http://www.manonabeach.com" target="_blank">manonabeach.com</a>.
                If you haven’t seen the website before, it’s definitely worth a look. See if you can find the entry for your favourite beach in Cornwall, apart from Mousehole. What would you have said about it if you’d been interviewed?
            </p>
        </div>
    </div>

</section>
