@model CarouselDisplay
@using CarolineCottageMobile.Application.CarolineCottageDisplay

<a class="anchor" id="MouseholeSectionLink"></a>
<section>
    <h3 class="display-4">Mousehole</h3>
    <div class="row">
        <div class="col-sm">
            <p class="lead">
                MOUSEHOLE (“Mousle”), described by Dylan Thomas as really the lovliest village in England,
                is set around a tidal harbour and a small sandy beach, once home to the traditional
                pilchard-fishing fleet.

                The harbour offers safe swimming when the tide is in, and beachcombing at low tide.
                At the nearby rockpools there is a natural sea-bathing pool for children.

                Full of winding paths and picturesque cottages, Mousehole is now
                largely a conservation area.
            </p>
            <p>
                In December and January the spectacular harbour lights and traditional Tom Bawcock
                celebrations (the legend brought to life in Antonia Barber’s book “The Mousehole
                Cat”) make Mousehole a magical place. Occasional south-easterly storms can send
                waves crashing over the harbour walls, whilst the harbour itself is protected by
                its winter barrier.
            </p>
            <p>
                Mousehole is a joy to explore - tiny paths, hidden clusters of cottages, constantly
                changing views. Keigwin Place has a plaque to Dolly Pentreath, reputedly the last Cornish-speaker.
                A mile east along the coast, the former Penlee lifeboat station is now a memorial
                garden to the crew of the Solomon Browne lifeboat - all of the 8 crew were Mousehole
                men who lost their lives in a heroic rescue attempt in 1981.
            </p>
            <p>
                Currently (2020) boat trips on the Comorant run from Mousehole harbour. See <a href="http://www.cormorantcruising.co.uk/" target="_blank"> www.cormorantcruising.co.uk</a> for more information.
            </p>
        </div>

        <div class="col-sm">
            @{Html.RenderPartial("CarouselDisplay", Model);}
        </div>
    </div>
</section>

