@model CarouselDisplay
@using CarolineCottageMobile.Application.CarolineCottageDisplay

<a class="anchor" id="MouseholeSectionLink"></a>
<section>
    <h3 class="display-4">Mousehole</h3>
    <div class="row">
        <div class="col-sm">
            <p class="lead">
                MOUSEHOLE (“Mousle”), described by Dylan Thomas as really the loveliest village in England,
                is set around a tidal harbour and a small sandy beach, once home to the traditional
                pilchard-fishing fleet.

                The harbour offers safe swimming when the tide is in, and beachcombing at low tide.
                At the nearby rockpools there is a natural sea-bathing pool for children.

                Full of winding paths and picturesque cottages, Mousehole is now
                largely a conservation area.
            </p>
            <p>
                Mousehole has a small village shop, Deli, pub, plenty of cafes, two excellent restaurants, galleries, and a bird hospital. 
                Despite being a small village, it holds various festivals. Summer has the annual Carnival, the biennial Sea Salts and Sailes festival and the blessing of the Penlee Lifeboat in Mousehole harbour.
                In December and January the spectacular harbour lights make the village a magical place. 
                December 23 is Tom Bawcock's' Eve, celebrating the local legend of fisherman Tom Bawcock who saved the village from starvation - this story is told in Antonia Barber's beautifully illustrated book "The Mousehole Cat".
                In winter the harbour is protected by a wooden barrier; occasional storms can send waves crashing over the harbour walls - a wonderful sight from our cosy lounge!
            </p>
            <p>
                Mousehole is a joy to explore - tiny paths, hidden clusters of cottages, constantly
                changing views. Keigwin Place has a plaque to Dolly Pentreath, reputedly the last Cornish-speaker.
                A mile east along the coast, the former Penlee lifeboat station is now a memorial
                garden to the crew of the Solomon Browne lifeboat - all of the 8 crew were Mousehole
                men who lost their lives in a heroic rescue attempt in 1981.
            </p>
            <p>
                Currently (2020) boat trips on the Comorant run from Mousehole harbour. See <a href="http://www.cormorantcruising.co.uk/" target="_blank"> www.cormorantcruising.co.uk</a> for more information.
            </p>
        </div>

        <div class="col-sm">
            @{Html.RenderPartial("CarouselDisplay", Model);}
        </div>
    </div>
</section>

