@model CarouselDisplay
@using CarolineCottageMobile.Application.CarolineCottageDisplay

<a class="anchor" id="PlacesToVisitSectionLink"></a>
<section>
    <h3 class="display-4">Places to visit</h3>
    <div class="row">
        <div class="col-sm">
            @{Html.RenderPartial("CarouselDisplay", Model);}
        </div>
        <div class="col-sm">
            <p class="lead">
                The PENWITH PENINSULA: some of its loveliest spots are in easy reach of Mousehole
                – hidden coves like Penberth ; the Minack Theatre at Porthcurno ; Land’s End and
                the wild north-west coast ; St Ives and the Cornwall Tate Gallery; Marazion with
                its artists’ galleries and the causeway to St Michael’s Mount. Seals can sometimes
                be seen, including from the Mousehole rock-pools. 
            </p>
            <p>
                Walks from Mousehole include to the neighbouring village of Paul – beautiful church, good pub. 
                Take the South-West coast-path for a bracing walk to Lamorna Cove and The Wink Inn.
                Regular minibuses run to the nearby fishing port of Newlyn (buy local fish and crab, visit the Newlyn Gallery) and to Penzance (plenty of shops and eateries).
                Penzance has a bus station and a railway station, and the Scillonian Ferry to the Isles of Scilly (day trips available).
                The heliport is due to return to Penzance in 2020. So there are penty of options for exploring without using the car - and a car-free holiday is perfectly feasible!
            </p>
            
        </div>
    </div>
</section>

